.father {
    height: 100vh;
    display: flex;
    /*Main Axis*/
    justify-content:center;
    /*Cross Axis*/
    align-items: center;
}

.child{
    background-color: peru;
    flex-basis: 200px;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*order 디폴트 값은 0 */

.child:nth-child(2) {
    background-color: black;
}

